#main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 50%;
  float:left;
  text-align: center;
}

#main-menu ul li {
  display: block;
  position: relative;
  right: 50%;
  float: left;
}

#main-menu ul li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: white;
}

#main-menu ul li a:hover {
  background-color: Black;
}

#main-menu ul li a:link {
  color: #b07922;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

nav a {
  text-decoration: none;
  color: white;
   text-align: center;
}

nav ul {
  list-style: none;
   text-align: center;
}

nav li {
  display: inline;
  margin: 0 20px;
   text-align: center;
}


section {
  background-color: #b07922;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

h1, h2 {
    font-size: 30px;
    color: #b07922;
    font-family: lato;
    text-align: center;
}

p {
    font-size: 18px;
    color: white;
    font-family: Georgia, Times, serif;
}

li, ul {
    font-size: 18px;
    color: white;
}

h3{
    color: white;
}

h4{
    color: #b07922;
    text-align: center;
}
body {
    background-color:black;
    font-family: lato;
}

img {
  width: 500px;
  height: auto;
  border: 5px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 560px;
  height: 315px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
